p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    font-size: medium;
}
img{
    margin: 200px;
    margin-right: 70000px;
    
}